{%- if payment_type == 'default' -%}
    {%- for type in shop.enabled_payment_types -%}
        <div class="payment-methods--item">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </div>
    {%- endfor -%}
{%- else -%}
    {% assign payment_string = 'visa,master,maestro,american_express,apple_pay,bitcoin,dankort,diners_club,discover,paypal,dogecoin,dwolla,forbrugsforeningen,jcb,litecoin,afterpay,google_pay,ideal,klarna,klarna-pay-later,shopify_pay,sofort' %}
    {% assign methods = payment_string | split: ',' %}
    {%- for method in methods -%}
        {%- assign show_current_method = method | prepend: 'show_payment_' -%}
        {% if section.settings[show_current_method] %}
            <div class="payment-methods--item">
                {{ method | payment_type_svg_tag: class: 'icon icon--full-color' }}
            </div>
            {% endif %}
    {%- endfor -%}
{%- endif -%}