<div class="halo-popup halo-global-custom-informatin-popup halo-popup-LeftRight customPopup-large" data-global-custom-informatin-popup id="halo-global-custom-information-popup">
    <div class="halo-popup-wrapper">
    	<div class="halo-popup-header">
            <a href="javascript:void(0)" class="halo-popup-close clearfix" data-close-custom-information role="button">
            	<span class="visually-hidden">{{ 'general.common.close' | t }}</span>
                {% render 'icon-close' %}
            </a>
            <h5 class="halo-popup-title text-center"></h5>
    	</div>
        <div class="halo-popup-content halo-popup-scroll custom-scrollbar"></div>
    </div>
</div>