<div class="halo-sidebar halo-sidebar-left halo-sidebar-search" id="search-form-mobile">
    <a href="#" class="halo-sidebar-close" data-search-close-sidebar role="button">
    	<span class="visually-hidden">{{ 'general.common.close' | t }}</span>
        {% render 'icon-close' %}
    </a>
    <div class="halo-sidebar-header text-left">
		<span class="title">
			{{ 'general.search.title' | t }}
		</span>
	</div>
    <div class="halo-sidebar-wrapper custom-scrollbar disable-scrollbar"></div>
</div>