<coupon-code class="cart-coupon-code form-field discount-code-field"> 
  	<label class="form-label hiddenLabels" for="coupon-code">{{ 'sections.cart.coupon_code' | t }}</label> 
  	<input class="form-input" autocomplete="off" type="text" name="discount" id="coupon-code" /> 
  	<p class="form-text">{{ 'sections.cart.coupon_code_text' | t }}</p>
</coupon-code>