<a id="Sealoop_Subscription">Subscriptions</a>
<script defer="defer">
(function (window, document) {
    var width = document.body.clientWidth;
    document.querySelector("#Sealoop_Subscription").href = "/a/auto-subproxy/subscriptionList/{{customer.id}}/{{shop.money_format}}/" + width;
})(this, document);
</script>