.halo-sidebar-menu .halo-sidebar-wrapper {
    padding: 0 0 140px 0;
}

[data-navigation-mobile] .menu-lv-item,
[data-navigation-list-mobile] .menu-lv-item {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    position: relative;
}

[data-navigation-mobile] .menu-lv__flex {
    display: flex!important;
    align-items: center;
    width: 100%;
}

[data-navigation-mobile] .menu-lv-image {
    border-bottom: none!important;
}

[data-navigation-mobile] .menu-lv-image .image{
    display: block;
    overflow: hidden;
    position: relative;
    margin: 10px 0 0 0;
}

[data-navigation-mobile] .menu-lv-image img,
[data-navigation-mobile] .menu-lv-image .placeholder-svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

[data-navigation-mobile] .icon-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    pointer-events: none;
}

[data-navigation-mobile] .icon {
    left: 50%;
    right: unset;
    width: 15px;
    height: 15px;
    transform: translate(-50%,-50%);
}

[data-navigation-mobile] .custom-icon{
    display: inline-block;
    vertical-align: middle;
    top: unset;
}

[data-navigation-mobile] .custom-icon svg{
    display: block;
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
    width: 30px;
    height: 30px;
    pointer-events: auto;
    transform: unset;
}

[data-navigation-mobile] .custom-icon img{
    display: block;
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
}

[data-navigation-mobile] .custom-icon.style-circle img{
    border-radius: 50%;
}

[data-navigation-mobile] .custom-image{
    display: block;
}

[data-navigation-mobile] .custom-image img{
    display: block;
    object-position: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

[data-navigation-mobile] .custom-icon + .text{
    margin-left: 10px;
}

[data-navigation-mobile] .custom-image + .text{
    display: block;
    margin-top: 5px;
}

[data-navigation-mobile] .menu-lv-1__action .label{
    vertical-align: top;
    position: relative;
    top: unset;
    right: unset;
    margin-left: 5px;
}

[data-navigation-mobile] .menu-lv-1__action .label:before{
    left: -9px;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%) rotate(-90deg);
}

[data-navigation-mobile] .menu-lv-1__action .label.custom-label{
    background-color: var(--color-global-darken);
    color: var(--color-global);
}

[data-navigation-mobile] .menu-lv-item.nav-all-mobile{
    display: block;
}

[data-navigation-mobile] .menu-lv__dropdownmenu{
    display: block;
    top: 0;
    right: 101%;
    left: auto;
    width: 100%;
    height: 100%;
    transform: none;
    box-shadow: none;
    transition: unset;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

[data-navigation-mobile] .menu-lv__dropdownmenu-3{
    right: unset;
    top: unset;
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    height: auto;
}

[data-navigation-mobile] .is-open > .menu-lv__dropdownmenu,
[data-navigation-mobile] .is-open > .site-nav-list > .menu-lv__dropdownmenu-2{
    position: relative;
    top: unset;
    right: unset;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

[data-navigation-mobile] .is-hidden{
    display: none!important;
    border-bottom: none;
}

[data-navigation-mobile] .is-open{
    border-bottom: none;
}

[data-navigation-mobile] .is-open > .list-menu__item,
[data-navigation-mobile] .is-open > .site-nav-list > .site-nav-title{
    display: none!important;
}

[data-navigation-mobile] .is-open > .menu-lv__dropdownmenu > .container > .menu-dropdown__wrapper{
    border-bottom: 1px solid #e6e6e6;
}

[data-navigation-mobile] .container{
    padding-left: 0;
    padding-right: 0;
}

[data-navigation-mobile] .grid-menu{
    display: block;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 20px;
    padding-right: 20px;
}

[data-navigation-mobile] .grid-menu .menu-lv-item{
    display: inline-block;
    vertical-align: top;
    width: 33.3333333%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

[data-navigation-mobile] .grid-menu .grid-menu__item{
    display: block;
    padding: 0;
}

[data-navigation-mobile] .menu-lv-2,
[data-navigation-mobile] .menu-lv-3{
    display: block;
    padding-right: 0;
}

[data-navigation-mobile] .menu-lv-2__action,
[data-navigation-mobile] .menu-lv-3__action{
    display: block;
    padding: 14px 20px;
    border-bottom: none;
    width: 100%;
}

[data-navigation-mobile] .nav-title-mobile .menu-lv-2__action,
[data-navigation-mobile] .nav-title-mobile .menu-lv-3__action{
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
}

[data-navigation-mobile] .nav-title-mobile{
    position: relative;
    padding: 13px 20px;
    background: #e6e6e6;
    cursor: pointer;
}

[data-navigation-mobile] .nav-title-mobile .icon-dropdown{
    right: inherit;
    left: 10px;
    transform: rotate( 180deg);
}

[data-navigation-mobile] .nav-title-mobile .icon{
    width: 25px;
    height: 25px;
}

[data-navigation-mobile] .menu-dropdown__column,
[data-navigation-mobile] .menu-dropdown__banner{
    width: 100%!important;
}

[data-navigation-mobile] .site-nav-dropdown{
    padding: 15px 20px;
}

[data-navigation-mobile] .menu-dropdown__block{
    padding: 0 20px;
    margin-top: 25px;
    margin-bottom: 15px;
}

[data-navigation-mobile] .menu-dropdown__banner + .menu-dropdown__block{
    margin-top: 0;
}

[data-navigation-mobile] .menu-dropdown__block--title:before{
    display: none;
}

[data-navigation-mobile] .menu-dropdown__block--title .text{
    padding-right: 0;
}

[data-navigation-mobile] .menu-dropdown__banner{
    padding-top: 20px;
    padding-bottom: 20px;
}

[data-navigation-mobile] .site-nav-banner {
    overflow: auto;
    white-space: nowrap;
    padding: 0 0 0 20px;
    margin-left: 0;
    margin-right: 0;
}

[data-navigation-mobile] .site-nav-banner .site-nav-banner--item{
    width: 250px;
    margin: 0 20px 0 0;
    padding-left: 0;
    padding-right: 0;
}

[data-navigation-mobile] .site-nav-banner.column-1{
    padding-right: 20px;
}

[data-navigation-mobile] .site-nav-banner.column-1 .site-nav-banner--item{
    width: 100%;
    margin-right: 0;
}

[data-navigation-mobile] .site-nav-banner--item .content{
    margin-bottom: 15px;
}

[data-navigation-mobile] .site-nav-brand{
    display: block;
}

[data-navigation-mobile] .site-nav-brand .azbrandsTable{
    width: 100%;
}

[data-navigation-mobile] .site-nav-brand  .nazbrandsLink{
    padding: 10px 0;
}

.halo-sidebar-menu #HeaderLanguageList,
.halo-sidebar-menu .halo-currency .currency-menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 8px;
}

.halo-sidebar-menu #HeaderLanguageList .disclosure__item,
.halo-sidebar-menu .halo-currency .currency-menu .dropdown-item{
    width: 33.3333%;
    padding: 10px 10px;
}

.halo-sidebar-menu #HeaderLanguageList .disclosure__link{
    padding: 0;
}

.halo-sidebar-menu .halo-currency .title,
.halo-sidebar-menu .localization-form .title{
    background-color: var(--color-global-darken);
    padding: 10px 20px;
}

.nav-menu-tab{
    background-color: var(--bg-black);
    border-right: 1px solid var(--bg-grey);
}

.nav-menu-tab .menu-tab{
    display: flex;
    align-items: center;
    font-size: 0;
    letter-spacing: 0;
}

.nav-menu-tab .menu-tab .item{
   display: inline-block;
   vertical-align: top;
}

.nav-menu-tab .menu-tab .link{
    font-size: calc(var(--font-size) - 2px);
    font-weight: var(--font-weight-bold);
    padding: 10px 15px 9px;
    text-transform: uppercase;
    min-height: 40px;
}

.nav-mobile-menu-tab .menu-tab .link{
    background-color: var(--bg-black);
    color: var(--color-grey);
}

.nav-mobile-menu-tab .menu-tab .item.is-active .link{
    background-color: var(--bg-black);
    color: var(--color-white);
    pointer-events: none;
}

.nav-menu-tab .header__brands{
    padding: 6.5px 20px 6px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-menu-tab .header__brands .all-brand{
    margin-left: 20px;
}

.nav-menu-tab .header__brands .all-brand a{
    color: var(--color-white);
    margin: 0;
}

body.menu-open{
    overflow: hidden;
}

body.menu-open .background-overlay{
    display: block;
}

body.menu-open .halo-sidebar.halo-sidebar-menu{
    -webkit-transform: none!important;
    transform: none!important;
}

@media (max-width: 767px){
    [data-navigation-mobile] .grid-menu{
        margin-left: -5px;
        margin-right: -5px;
    }
    
    [data-navigation-mobile] .grid-menu .menu-lv-item{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 1025px){
    body.menu-open{
        padding-right: 10px;
    }
}