.productView{
    position: relative;
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
}

.productView-3 .productView{
    max-width: 1770px;
}

.halo-productView-left,
.halo-productView-right{
    font-size: 0;
    letter-spacing: 0;
    margin: 0 auto 50px auto;
    position: relative;
}

.productView-2 .halo-productView-right{
    margin-bottom: 0;
}

.productView-image-wrapper{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
}

.productView-image-wrapper .slick-arrow{
    opacity: 1;
    display: block!important;
}

.productView-3 .productView-image-wrapper {
    border: 1px solid #e9e9e9;
}

.productView-thumbnail-wrapper{
    width: 100%;
    margin: 20px 0 0 0;
    position: relative;
}

.productView-image{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.productView-image .productView-img-container{
    display: block;
    position: relative;
    margin: auto;
    max-width: none;
    width: 100%;
}

.productView-image .productView-img-container .media {
    position: absolute!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.productView-image .productView-img-container .media.has-video{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
}

.productView-image .productView-img-container img:not(.zoomImg){
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
    max-width: none;
    transform: translate(-50%,-50%);
    object-fit: cover;
    object-position: center;
}

.productView-image-wrapper .productView-nav:not(.slick-initialized){
    display: block;
    overflow: hidden;
    font-size: 0;
    letter-spacing: 0;
    white-space: nowrap;
}

.productView-image .productView-img-container .productView-video{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.productView-image .productView-img-container .productView-video video{
    width: 100%!important;
}

.productView-image .productView-img-container .productView-video iframe{
    width: 100%!important;
    height: 100%!important;
}

.productView-image .productView-img-container.model-viewer-click model-viewer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.productView-mediaList{
    display: flex;
    flex-wrap: wrap;
}

.productView-mediaList .deferred-media{
    display: none;
}

.productView-mediaList .deferred-media__poster{
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.productView-mediaList .deferred-media video {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.productView-mediaList .deferred-media__poster img{
    width: auto;
    height: 100%;
}

.productView-mediaList .deferred-media__poster-button{
    background-color: var(--bg-white);
    box-shadow: 0 3px 7px 0 rgb(0, 0, 0, .2);
    border-radius: 50%;
    color: rgb(var(--color-foreground));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.2rem;
    width: 6.2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform var(--duration-short) ease,color var(--duration-short) ease;
    z-index: 1;
}

.productView-mediaList .deferred-media__poster-button .icon{
    width: 2rem;
    height: 2rem;
    margin-left: 0.2rem;
}

.productView-mediaList .deferred-media[loaded] > .deferred-media__poster{
    display: none;
}

.productView-mediaItem{
    display: block;
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
}

.productView-mediaItem > * {
    display: block;
    position: relative;
}

.productView-mediaIcon {
    background-color: var(--bg-white);
    box-shadow: 0 3px 7px 0 rgb(0, 0, 0, .2);
    border-radius: 50%;
    display: none;
    height: 3rem;
    width: 3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    z-index: 1;
    transition: color var(--duration-short) ease, opacity var(--duration-short) ease;
}

.productView-mediaIcon .icon {
    width: 1.2rem;
    height: 1.4rem;
}

.product__media-video .productView-mediaIcon {
    opacity: 1;
}

.product__media{
    display: block;
    position: relative;
    overflow: hidden;
}

.product__media > img{
    object-fit: cover;
    object-position: center center;
    transition: opacity .4s cubic-bezier(.25, .46, .45, .94);
}

.product__media model-viewer, .product__media >:not(.zoom,.deferred-media__poster-button){
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.product__media-toggle{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.productView-thumbnail-wrapper .productView-for{
    position: relative;
    font-size: 0;
    letter-spacing: 0;
    padding: 0 50px;
}

.productView-thumbnail{
    display: block;
    width: 100%;
    padding: 0 3px;
    position: relative;
}

.productView-thumbnail .productView-thumbnail-link{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    outline: none!important;
}

.productView-thumbnail .productView-thumbnail-link:after{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
}

.productView-thumbnail .productView-thumbnail-link img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    max-width: none;
    display: inline-block;
    vertical-align: top;
    transform: translate(-50%,-50%);
    transition: var(--anchor-transition);
    object-fit: cover;
    opacity: .3;
}

.productView-2 .productView-thumbnail .productView-thumbnail-link{
    border: 1px solid transparent;
}

.productView-2 .productView-thumbnail .productView-thumbnail-link img {
    opacity: .5;
}

.productView-thumbnail.slick-current .productView-thumbnail-link img{
    opacity: 1!important;
}

.productView-2 .productView-thumbnail.slick-current .productView-thumbnail-link{
    border-color: #c7c7c7;
}

.productView-3 .productView-thumbnail .productView-thumbnail-link{
    width: 40px;
    height: 40px;
}

.productView-3 .productView-thumbnail .productView-thumbnail-link img{
    border: 1px solid transparent;
}

.productView-3 .productView-thumbnail.slick-current .productView-thumbnail-link img {
    border-color: #c7c7c7;
}

.productView-thumbnail .productView-thumbnail-icon{
    width: 28px;
    height: 28px;
    background: var(--bg-white);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}

.productView-thumbnail .productView-thumbnail-icon .icon{
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-global);
}

.productView-thumbnail-wrapper .slick-arrow{
    width: 25px;
    height: 25px;
    top: 50%!important;
    padding: 0;
    border: none;
    box-shadow: unset!important;
    background-color: transparent;
}

.productView-thumbnail-wrapper.hidden-arrows .slick-arrow{
    display: none!important;
}

.productView-thumbnail-wrapper .productView-for:not(.slick-initialized){
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.productView-thumbnail-wrapper .productView-for:not(.slick-initialized) > div{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

.productView-thumbnail-wrapper .productView-for:not(.slick-initialized) > div:nth-child(n + 6){
    display: none;
}

.productView-compareColor{
    position: absolute;
    z-index: 2;
    bottom: 30px;
    right: 30px;
}

.productView-compareColor a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-white);
    border: 1px solid var(--bg-white);
    padding: 10px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .2);
}

.productView-compareColor .icon{
    width: 100%;
    height: 100%;
}

.productView-title{
    display: block;
    font-family: var(--product-title-font);
    font-size: calc(var(--product-title-font-size) + 4px);
    font-weight: var(--product-title-font-weight);
    text-transform: var(--product-title-text-transform);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-text);
    margin: 0 0 14px 0;
}

.productView-meta{
    font-size: 0;
    letter-spacing: 0;
    position: relative;
}

.productView-metaItem{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
}

.productView-metaItem:last-of-type{
    margin-right: 0;
}

.productView-rating{
    display: inline-block;
    vertical-align: bottom;
}

.productView-details .productView-rating{
    cursor: pointer;
}

.productView-rating .spr-badge-starrating{
    display: inline-block!important;
    vertical-align: middle;
    margin-right: 0;
}

.productView-soldProduct svg {
    width: 21px;
    height: 21px;
    position: relative;
    top: -2px;
}

.productView-soldProduct .text{
    display: inline-block;
    vertical-align: middle;
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: inherit;
}

.productView-nextProducts{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 0;
}

.productView-meta-2 .productView-nextProducts{
    position: relative;
    top: unset;
    transform: unset;
    left: unset;
    right: unset;
}

.productView-meta-2 .next-prev-icons{
    justify-content: flex-end;
}

.productView-desc{
    margin: 13px 0 0 0;
    padding: 0 0 10px 0;
}

.productView-info{
    display: table;
    margin: 8px 0 7px 0;
}

.productView-info-item .productView-info-name,
.productView-info-item .productView-info-value{
    display: inline-block;
    vertical-align: top;
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: 24px;
    letter-spacing: var(--letter-spacing);
}

.productView-info-item .productView-info-name{
    color: var(--color-text2);
}

.productView-info-item .productView-info-value{
    color: var(--color-text);
    padding-left: 7px;
}

.productView-info-item .productView-info-value a{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
}

.productView-countDown{
    margin-top: 10px;
}

.productView-options{
    position: relative;
    width: auto;
    margin: 18px 0 7px 0;
    padding: 23px 0 0 0;
    border-top: 1px dashed #cccccc;
}

.productView-2 .productView-options{
    border-top: 0;
    margin-top: 0;
    padding-top: 16px;
}

.productView-3 .productView-options{
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9px;
}

.productView-hotStock{
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    color: var(--product-sale-price-color);
    margin: 10px 0 0 0;
}

.productView-form{
    display: block;
}

.productView-property{
    margin: 5px 0 0 0;
}

.productView-message{
    margin: 20px 0 0 0;
}

.productView-groupTop{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 20px 0 0 0;
}

.productView-groupTop-2{
    flex-wrap: wrap!important;
}

.productView-quantity{
    display: block;
    letter-spacing: 0;
    font-size: 0;
    margin: 0 0 30px 0;
}

.productView-quantity input{
    width: 80px;
    border-radius: 0!important;
    min-height: var(--btn-min-height);
}

.skin-8 .productView-quantity input{
    padding-top: var(--btn-padding-top);
    padding-bottom: var(--btn-padding-bottom);
    min-height: unset;
}

.productView-quantity button{
    background-color: var(--form-input-bg);
    border-color: var(--form-input-border)!important;
}

.productView-quantity button svg{
    fill: var(--form-input-color);
}

.productView-quantity.style-2{
    display: flex;
    font-size: calc(var(--font-size) + 2px);
    font-weight: var(--font-weight-bold);
    border: 1px solid var(--form-input-border);
}

.productView-quantity.style-2 input{
    border: none;
    text-align: center;
    width: 96px;
}

.productView-quantity.style-2 input::-webkit-inner-spin-button,
.productView-quantity.style-2 input::-webkit-outer-spin-button{
    display: none;
}

.productView-groupTop-2 .productView-quantity{
    margin-right: 0;
    margin-bottom: 20px;
}

.productView-subTotal{
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
}

.productView-subTotal-name,
.productView-subTotal-value{
    display: inline-block;
    vertical-align: top;
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: 24px;
    letter-spacing: var(--letter-spacing);
}

.productView-subTotal-name{
    color: var(--color-text2);
}

.productView-subTotal-value{
    color: var(--color-text);
    padding-left: 7px;
}

.productView-action{
    width: calc(100% - 70px);
}

.productView-action .button{
    font-family: var(--product-action-font);
    font-size: var(--product-action-font-size);
    font-weight: var(--product-action-font-weight);
    background-color: var(--product-action-bg);
    color: var(--product-action-color);
    border-color: var(--product-action-border);
    border-radius: 0;
    text-transform: uppercase;
}

.skin-8 .productView-action .button{
    min-height: unset;
    padding-top: var(--btn-padding-top);
    padding-bottom: var(--btn-padding-bottom);
}

.productView-action-2{
    width: 100%!important;
}

.productView-wishlist{
    letter-spacing: 0;
    font-size: 0;
    margin: 0 0 0 10px;
}

.productView-wishlist a{
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid var(--form-input-border);
    background-color: var(--form-input-bg);
    text-align: center;
    overflow: hidden;
    padding: 17px;
}

.skin-8 .productView-wishlist a{
    padding: 12px;
    width: var(--product-action-min-height);
    height: var(--product-action-min-height);
}

.productView-wishlist a .icon{
    width: 100%;
    height: 100%;
    fill: var(--form-input-color);
}

.productView-wishlist a.wishlist-added{
    background-color: var(--product-wishlist-color-added);
    border-color: var(--product-wishlist-color-added);
}

.productView-wishlist a.wishlist-added .icon{
    fill: var(--product-wishlist-bg-added);
}

.productView-groupTop-3 .productView-action{
    width: calc(100% - 80px)!important;
}

.productView-groupTop-3 .productView-wishlist{
    margin-left: 20px;
}

.productView-groupBottom{
    margin: 26px 0 0 0;
}

.productView-2 .productView-groupBottom{
    margin-top: 14px;
}

.productView-3 .productView-groupBottom{
    margin-top: 15px;
}

.productView-groupItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.productView-groupItem-2{
    flex-wrap: nowrap;
}

.productView-checkbox input[type=checkbox] + label{
    display: inline-block;
    vertical-align: top;
    width: auto;
    font-size: calc(var(--font-size) - 1px);
    padding-left: 25px;
    line-height: 20px;
}

.productView-checkbox input[type=checkbox] ~ a {
    display: inline-block;
    vertical-align: top;
    font-size: calc(var(--font-size) - 1px);
    line-height: 20px;
    color: var(--color-text);
    margin: 0 0 0 5px;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.productView-askAnExpert .link svg{
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    fill: inherit;
    stroke: transparent;
}

.productView-2 .productView-askAnExpert .link{
    font-size: calc(var(--font-size) - 1px);
    font-weight: var(--font-weight-bold);
}

.productView-3 .productView-askAnExpert{
    margin-top: 20px;
}

.productView-payment{
    width: 100%;
}

.productView-payment .shopify-payment-button{
    display: block;
    width: 100%;
    clear: both;
}

.productView-payment .shopify-payment-button .shopify-payment-button__button{
    display: block;
    width: 100%;
    font-family: var(--btn-font-name);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid var(--color-global);
    background-color: var(--color-global);
    border-radius: 0!important;
    color: var(--color-white);
    min-width: 130px;
    max-width: 100%;
    transition: var(--anchor-transition);
    margin: auto;
    outline: none!important;
    box-shadow: none!important;
    cursor: pointer;
    padding-top: var(--btn-padding-top);
    padding-bottom: var(--btn-padding-bottom);
    padding-left: 15px;
    padding-right: 15px;
    min-height: var(--btn-min-height);
}

.skin-8 .productView-payment .shopify-payment-button .shopify-payment-button__button{
    min-height: unset;
    padding-top: var(--btn-padding-top);
    padding-bottom: var(--btn-padding-bottom);
}

.productView-payment[disabled] .shopify-payment-button .shopify-payment-button__button,
.productView-payment .shopify-payment-button .shopify-payment-button__button[disabled]{
    pointer-events: none;
    background-color: var(--color-global-darken)!important;
    border-color: var(--color-global-darken)!important;
    color: var(--color-black)!important;
}

.productView-payment .shopify-payment-button .shopify-payment-button__button--hidden{
    display: none;
}

.productView-groupItem-2 .productView-wishlist{
    margin-left: 20px;
}

.productView-3 .productView-groupItem-2 .productView-wishlist{
    margin-left: 10px;
}

.productView-groupItem + .productView-groupItem{
    margin-top: 25px;
}

.productView-more{
    margin: 20px 0 0 0;
}

.productView-moreItem + .productView-moreItem{
    margin-top: 25px;
}

.productView-ViewingProduct{
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.productView-ViewingProduct .icon{
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
    fill: var(--icon);
    stroke: transparent;
}

.productView-ViewingProduct .text{
    font-size: calc(var(--font-size) - 1px);
    font-weight: var(--font-weight-normal);
    color: var(--color-text);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
}

.productView-securityImage{
    margin: 0 0 9px 0;
}

.productView-securityImage ul{
    font-size: 0;
    letter-spacing: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.productView-securityImage ul li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 5px;
}

.productView-securityImage img{
    width: auto;
    height: auto;
    max-height: 100px;
}

.productView-tab{
    display: block;
}

.productView-tab-horizontal,
.productView-2 .productView-tab-vertical{
    margin: 35px 0 0 0;
}

.productView-sizeChart{
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 1;
}

.productView-sizeChart .link{
    display: flex;
    align-items: flex-end;
}

.productView-sizeChart .icon{
    width: 26px;
    height: 26px;
    fill: var(--color-text2);
    stroke: transparent;
    margin: 0 4px 0 0;
}

.productView-sizeChart .text{
    font-size: calc(var(--font-size) - 2px);
    font-weight: var(--font-weight-normal);
    color: var(--color-text2);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}

.productView-options-2 .productView-sizeChart{
    position: relative;
    margin: -15px 0 0 0;
    padding: 0 0 15px 0;
}

.productView.layout-4 .productView-image-wrapper .slick-arrow svg{
    fill: var(--bg-black);
    stroke: transparent;
}

.productView.layout-4 .productView-thumbnail-wrapper{
    display: none!important;
}

@media(max-width: 1024px){
    .halo-quick-view-popup .quickView .productView-top{
        align-items: inherit;
    }
    .halo-popup.halo-quick-view-popup {
        max-width: 90vw;
    }
    
}

@media (max-width: 991px){
    .productView-mediaItem{
        width: calc(100% - 6px);
        padding-left: 3px;
        box-sizing: content-box;
    }

    .productView-mediaItem:first-of-type{
        padding-left: 3px;
    }

    .productView-mediaItem:last-of-type{
        padding-right: 3px;
    }

    .productView.layout-5 .halo-productView-left{
        margin-left: -3px;
        margin-right: -3px;
    }
}

@media (max-width: 550px){
    .productView-groupItem .productView-askAnExpert{
        margin-top: 18px;
        width: 100%;
    }

    .productView-2 .productView-action{
        width: 100%;
    }
}

@media (min-width: 400px){
    .productView-3 .productView-thumbnail .productView-thumbnail-link{
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 551px) {
    .productView-thumbnail-wrapper{
        margin-top: 30px;
    }

    .productView-2 .productView-thumbnail{
        padding-left: 10px;
        padding-right: 10px;
    }

    .productView-3 .productView-thumbnail-wrapper {
        margin-top: 20px;
    }

    .productView-3 .productView-thumbnail .productView-thumbnail-link{
        width: 80px;
        height: 80px;
    }

    .productView-soldProduct{
        display: inline-block;
        vertical-align: bottom;
    }

    .productView-countDown .text{
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    .productView-groupTop{
        flex-wrap: nowrap;
    }

    .productView-quantity{
        margin-bottom: 0;
        margin-right: 10px;
    }

    .productView-action{
        width: 100%;
    }
}

@media (min-width: 992px) {
    .productView-top{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .halo-productView-left{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin-bottom: 0;
        padding-right: 30px;
        position: sticky;
        top: 15px;
    }

    .productView-3 .halo-productView-left{
        padding-right: 0;
        margin-right: 30px;
    }

    .halo-productView-right{
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }

    .productView-securityImage ul li{
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .productView-sticky .halo-productView-right{
        position: sticky;
        top: 3rem;
        z-index: 2;
    }

    .productView-mediaItem .product__modal-opener:not(.product__modal-opener--image){
        display: none;
    }

    .productView-mediaList .deferred-media{
        display: block;
    }
}

@media (min-width: 1025px){
    .productView-image-wrapper .slick-arrow{
        width: 60px;
        height: 60px;
        padding: 18px;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: transform var(--duration-default) ease;
    }

    .productView-image-wrapper .slick-arrow.slick-prev{
        left: 15px;
        transform: translate3d(-100%,0,0);
    }

    .productView-image-wrapper .slick-arrow.slick-next{
        right: 15px;
        transform: translate3d(100%,0,0);
    }

    .productView-image-wrapper .slick-arrow:hover{
        background: var(--btn-1-bg-hover);
    }

    .productView-image-wrapper .slick-arrow:hover svg{
        fill: var(--btn-1-color-hover);
    }

    .productView-image-wrapper .productView-nav:hover .slick-arrow{
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
        transform: translate3d(0,0,0)!important;
    }

    .productView-3 .productView-thumbnail {
        padding-left: 10px;
        padding-right: 10px;
    }

    .productView-3 .productView-thumbnail-wrapper .productView-for{
        padding: 0 50px;
    }

    .productView-mediaList{
        margin-left: -6px;
    }

    .productView-mediaItem{
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 3px);
        padding-left: 6px;
        padding-bottom: 6px;
    }

    .productView-mediaItem--full{
        width:  100%;
    }

    .productView-mediaIcon .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .productView-mediaList .deferred-media__poster-button:hover{
        transform: translate(-50%,-50%) scale(1.1);
    }

    .product__modal-opener .productView-mediaIcon {
        opacity: 0;
    }

    .product__modal-opener:hover .productView-mediaIcon,
    .product__modal-opener:focus .productView-mediaIcon {
        opacity: 1;
    }

    .product__modal-opener--image .product__media-toggle:hover {
        cursor: zoom-in;
    }

    .product__modal-opener--zoomed:hover .product__media img{
        opacity: 0;
    }

    .productView-compareColor{
        bottom: 35px;
        right: 35px;
    }

    .productView-compareColor a{
        width: 60px;
        height: 60px;
        padding: 12px;
    }

    .halo-productView-left{
        width: calc(100% - 500px);
    }

    .halo-productView-right{
        width: 500px;
    }
  
  	.productView.layout-5{
        max-width:100%;
    }

    .productView.layout-5 .productView-top{
  		padding-right:0;
  	}

    .productView.layout-5 .halo-productView-left{
      width: calc(100% - 570px);
    }

  	.productView.layout-5 .halo-productView-right{
      width:570px;
    }

    .productView-image-zoomed:hover .productView-img-container img:not(.zoomImg){
        opacity: 0;
    }

    .productView-nextProducts{
        display: block;
    }

    .productView-action .button.button-shake-affect {
        -webkit-animation: btn-atc-shake 5s ease 2s infinite;
        animation: btn-atc-shake 5s ease 2s infinite;
    }

    .productView-action .button:hover{
        background-color: var(--product-action-bg-hover);
        color: var(--product-action-color-hover);
        border-color: var(--product-action-border-hover);
    }

    .productView-wishlist a:hover{
        background-color: var(--product-wishlist-color-added);
        border-color: var(--product-wishlist-color-added);
    }

    .productView-wishlist a:hover .icon{
        fill: var(--product-wishlist-bg-added);
    }

    .productView-securityImage ul{
        overflow: visible;
    }

    .productView-sizeChart:hover .text{
        color: var(--color-link-hover);
    }
}

@media (min-width: 1200px) {
    .productView.layout-1 .productView-images-wrapper,
    .productView.layout-2 .productView-images-wrapper{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .productView.layout-1 .productView-image-wrapper,
    .productView.layout-2 .productView-image-wrapper{
        width: calc(100% - 100px);
    }

    .productView.layout-2 .productView-image-wrapper{
        order: -2;
    }

    .productView.layout-1 .productView-thumbnail-wrapper,
    .productView.layout-2 .productView-thumbnail-wrapper{
        display: inline-block;
        vertical-align: top;
        width: 100px;
        margin-top: 0;
        order: -1;
    }

    .productView.layout-1 .productView-thumbnail-wrapper{
        padding-right: 30px;
    }

    .productView.layout-2 .productView-thumbnail-wrapper{
        padding-left: 30px;
    }

    .productView.layout-1 .productView-thumbnail-wrapper .productView-for,
    .productView.layout-2 .productView-thumbnail-wrapper .productView-for{
        padding: 30px 0 38px 0;
    }

    .productView.layout-1 .productView-thumbnail,
    .productView.layout-2 .productView-thumbnail{
        padding: 3px 0;
        border: none;
    }

    .productView.layout-1 .productView-thumbnail-wrapper.arrows-disable,
    .productView.layout-2 .productView-thumbnail-wrapper.arrows-disable{
        margin-top: -3px;
    }

    .productView.layout-1 .productView-thumbnail-wrapper.arrows-disable .productView-for,
    .productView.layout-2 .productView-thumbnail-wrapper.arrows-disable .productView-for{
        padding-top: 0;
        padding-bottom: 0;
    }

    .productView.layout-1 .productView-thumbnail-wrapper .slick-arrow.slick-prev,
    .productView.layout-2 .productView-thumbnail-wrapper .slick-arrow.slick-prev{
        top: -5px!important;
        left: 50%!important;
        transform: translateX(-50%) rotate(90deg);
    }

    .productView.layout-1 .productView-thumbnail-wrapper .slick-arrow.slick-next,
    .productView.layout-2 .productView-thumbnail-wrapper .slick-arrow.slick-next{
        top: auto!important;
        left: 50%;
        right: auto;
        bottom: 0;
        transform: translateX(-50%) rotate(90deg);
    }

    .productView.layout-1 .productView-thumbnail-wrapper .productView-for:not(.slick-initialized),
    .productView.layout-2 .productView-thumbnail-wrapper .productView-for:not(.slick-initialized){
        white-space: normal;
    }

    .productView.layout-1 .productView-thumbnail-wrapper .productView-for:not(.slick-initialized) > div,
    .productView.layout-2 .productView-thumbnail-wrapper .productView-for:not(.slick-initialized) > div{
        width: 100%;
    }

    .productView.layout-1 .productView-thumbnail-wrapper .productView-for:not(.slick-initialized) > div:nth-child(n+7),
    .productView.layout-2 .productView-thumbnail-wrapper .productView-for:not(.slick-initialized) > div:nth-child(n+7){
        display: none;
    }
}

@media (min-width: 1400px) {
    .halo-productView-left{
        width: calc(100% - 570px);
    }

    .halo-productView-right{
        width: 570px;
    }
}

@media (min-width: 1600px) {
    .productView-thumbnail-wrapper .productView-for:not(.slick-initialized) > div{
        width: 16.6666666%;
    }

    .productView-thumbnail-wrapper .productView-for:not(.slick-initialized) > div:nth-child(6){
        display: inline-block;
    }

    .productView-thumbnail-wrapper .productView-for:not(.slick-initialized) > div:nth-child(7){
        display: none;
    }

    .productView-top{
        padding-right: 100px;
    }

    .halo-productView-left{
        width: calc(100% - 670px);
    }

    .halo-productView-right{
        width: 670px;
    }

    .productView-2 .productView-top{
        padding-right: 0;
    }

    .productView-2 .halo-productView-left{
        width: calc(100% - 740px);
    }

    .productView-2 .halo-productView-right{
        width: 740px;
    }

    .productView-3 .productView-top{
        padding-right: 0;
    }

    .productView-3 .halo-productView-left {
        width: calc(100% - 600px);
    }

    .productView-3 .halo-productView-right {
        width: 600px;
    }
}