/* START: Password Layout 3 */
    .placeholder-svg{
        display: block;
        fill: rgba(120, 129, 136, 0.15);
        stroke: rgba(120, 129, 136, 0.2);
        background-color: rgba(120, 129, 136, 0.1);
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        border: 1px solid rgba(120, 129, 136, 0.2);
        stroke-width: .1px
    }

    .password-header .header-logo{
        display: flex;
        justify-content: center;
    }
    
    .password-content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }

    .password-contentItem.password-contentLeft {
        padding: 30px 20px;
    }

    .password-contentItem {
        flex: 0 0 100%;
    }

    .password-contentItem.password-contentRight {
        order: -1;
    }

    .password-title {
        display: block;
        font-size: 24px;
        font-weight: var(--font-weight-semibold);
        line-height: var(--line-height);
        letter-spacing: var(--letter-spacing);
        color: var(--custom-badge-color);
        margin: 0 0 21px 0;
        text-align: center;
    }

    .password-subtitle {
        display: block;
        font-size: calc(var(--font-size) + 2px);
        font-weight: var(--font-weight-normal);
        color: var(--color-text2);
        line-height: var(--line-height);
        letter-spacing: var(--letter-spacing);
        text-align: center;
    }

    .password-form .form-label {
        font-size: calc(var(--font-size) + 2px);
        color: var(--color-text2);
        margin-bottom: 23px;
        text-align: center;
    }

    .password-form .form-field {
        margin: 0 0 10px 0;
    }

    .password-form .form-input {
        text-align: center;
        padding: 12px 20px;
    }
  
    .password-footer .list-social {
        display: block;
        font-size: 0;
        letter-spacing: 0;
        margin: 30px 0 0 0;
        text-align: center;
    }

    .password-footer .list-social > li {
        display: inline-block;
        vertical-align: top;
        margin: 0 12px 12px 0;
    }
    .password-footer .list-social a {
        display: block;
        width: 100%;
        line-height: 1;
        font-size: 0;
        letter-spacing: 0;
        padding: 10px;
        position: relative;
        border-radius: 50%;
        background-color: transparent;
    }

    .password-footer .list-social a svg {
        width: 20px;
        height: 20px;
    }

    .password-form {
        margin: 36px 0 0 0;
    }
  
    .password-banner img {
        display: block;
        width: 100%;
    }

    .password-banner .image{
        display: block;
        width: 100%;
        height: 100%;
    }

    @media (min-width: 551px){
        .password-contentItem.password-contentLeft {
            padding: 40px 30px 30px;
        }

        .password-title {
            font-size: 30px;
        }

        .password-footer .list-social a {
            padding: 12px;
        }

        .password-footer .list-social a svg {
            width: 23px;
            height: 23px;
        }
    }

    @media (min-width: 1025px){
        .password-content {
            flex-wrap: nowrap;
            align-items: inherit;
        }

        .password-contentItem.password-contentLeft {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .password-contentItem {
            flex: 0 0 50%;
        }

        .password-contentItem.password-contentRight {
            order: inherit;
        }

        .password-title {
            font-size: 48px;
        }

        .password-footer .list-social a {
            padding: 15px;
        }

        .password-footer .list-social a svg {
            width: 27px;
            height: 27px;
        }

        .password-banner img {
            height: 100vh;
            object-fit: cover;
            object-position: center;
        }
    }

    @media screen and (min-width: 1600px){
        .password-contentItem.password-contentLeft{
            width: 100%;
            max-width: 750px;
            margin: 0 auto;
        }
    }
/* END: Password layout 3 */

/* START: Password layout 2 */
    .password-body{
        display: block;
        width: 100%;
        max-width: 690px;
        margin: 0 auto;
        text-align: center;
    }

    .password-contentItem.password-contentCenter {
        flex: 0 0 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 28px 15px 30px 15px;
    }

    .password-background {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .password-background img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
     .password-countdown{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px 0 30px 0;
    }

    .password-countdown .num,
    .password-countdown .seperate{
        display: block;
        font-size: 32px;
        font-weight: var(--font-weight-normal);
        letter-spacing: var(--letter-spacing);
        line-height: normal;
    }

    .password-countdown .num span{
        display: block;
        font-size: calc(var(--font-size) + 2px);
        font-weight: var(--font-weight-normal);
        line-height: normal;
        letter-spacing: var(--letter-spacing);
    }

    .password-countdown .num{
        font-weight: var(--font-weight-medium);
    }

    @media (min-width: 551px){
        .password-countdown .num,
        .password-countdown .seperate{
            font-size: 56px;
        }
    }

    @media (min-width: 768px){
        .password-countdown .num,
        .password-countdown .seperate{
            font-size: 80px;
        }

        .password-countdown .num span{
            margin-top: -13px;
        }
    }
/* END: Password layout 2 */