.auth-text{
    text-align: center;
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-text2);
}

.auth-form .form-input{
    font-size: calc(var(--font-size) + 2px);
    font-weight: var(--font-weight-normal);
    text-align: center;
}

.auth-actions{
    margin: 30px 0 0 0;
}

.auth-actions .button{
    border-radius: 0;
}

.auth-actions .button-register{
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-link{
    margin: 24px 0 0 0;
}

.auth-form .form-field + .form-field,
.auth-actions .button + .button{
    margin-top: 10px;
}

.auth-form.auth-form-2{
    padding: 30px 20px;
}

.auth-form.auth-form-2 .form-input{
    text-align: left;
}

.account-dropdown{
    padding: 30px 20px;
}

.account-dropdown .account-item{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #c7c7c7;
}

.account-dropdown .account-item:last-child{
    border-bottom: 0;
}

.account-dropdown .account-action{
    width: 100%;
    padding: 10px 0;
    text-transform: capitalize;
}

.halo-auth-popup .halo-popup-wrapper{
    padding: 25px 30px 30px 30px;
}

.halo-auth-popup .halo-popup-header{
    margin: 10px 0 28px 0;
}

.halo-auth-popup .auth-link{
    font-size: calc(var(--font-size) + 1px);
    font-weight: var(--font-weight-medium);
    margin: 20px 0 2px 0;
}

.halo-auth-popup.halo-popup-topDown{
    top: -101%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
}

.halo-header-image img{
    width: 100%;
}

body.auth-popup-show,
body.auth-sidebar-show{
    overflow: hidden;
    height: 100%;
}

body.auth-popup-show .background-overlay,
body.auth-sidebar-show .background-overlay{
    display: block;
}

body.auth-popup-show .halo-auth-popup{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

body.auth-popup-show .halo-auth-popup.halo-popup-topDown{
    top: 0;
}

body.auth-sidebar-show .halo-auth-sidebar{
    -webkit-transform: none!important;
    transform: none!important;
}

@media (min-width: 1025px){
    .auth-form.auth-form-2{
        padding-left: 30px;
        padding-right: 30px;
    }

    .account-dropdown{
        padding-left: 30px;
        padding-right: 30px;
    }

    body.auth-popup-show,
    body.auth-sidebar-show{
        padding-right: 10px;
    }
}