aztable-items{
    display: block;
}

.haloAZTable{
    display: flex;
    font-size: 0;
    letter-spacing: 0;
    flex-flow: row nowrap;
    overflow-x: auto;
    padding: 0 0 24px 0;
}

.haloAZTable li{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #c7c7c7;
    border-left: none;
}

.haloAZTable li a{
    display: block;
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    color: var(--color-text);
    min-width: 40px;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing); 
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 5px;
}

.haloAZTable li:first-child{
    min-width: 70px;
    border-left: 1px solid #c7c7c7;
}

.haloAZTable li.disable{
    pointer-events: none;
}

.haloAZTable li.disable a{
    color: var(--color-grey);
    pointer-events: none;
}

.haloAZTable li.is-active{
    border-color: var(--btn-1-border-hover);
    background: var(--btn-1-bg-hover);
}

.haloAZTable li.is-active a{
    font-weight: var(--font-weight-bold);
    color: var(--btn-1-color-hover);
}

.haloAZTable.style-2{
    padding-bottom: 40px;
}

.haloAZTable.visible-all li{
    background-color: transparent!important;
    border: 0!important;
}

.haloAZTable.visible-all li a{
    color: var(--color-text)!important;
    letter-spacing: .02em;
    text-align: left;
}
.haloAZTable.visible-all li:first-child a{
    padding-left: 0;
}

.haloAZTable.visible-all li.is-active a{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.haloAZTable.visible-all li.disable a{
    opacity: .5;
}

.haloAZWrapper{
    margin: 30px 0 0 0;
    padding: 40px 0 80px 0;
}

.az-group{
    display: none;
    margin: 0 0 12px 0;
}

.az-group-title{
    display: block;
    position: relative;
    font-family: var(--font-heading-family);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-text);
    padding: 0 0 10px 0;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}

.az-group-list a{
    display: inline-block;
    vertical-align: top;
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    color: var(--color-text);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    text-transform: capitalize;
    padding: 8px 0;
}

.az-group:last-child{
    margin-bottom: 0;
}

.az-group.is-active{
    display: block;
}

.haloAZWrapper.active-all{
    column-count: 2;
}

.haloAZWrapper.active-all .az-group{
    display: block;
    break-inside: avoid;
    column-break-inside: avoid;
    page-break-inside: avoid;
    column-count: unset;
}

.haloAZWrapper.visible-all{
    column-count: unset!important;
    padding-top: 0;
    padding-bottom: 40px;
}

.haloAZWrapper.visible-all .az-group{
    break-inside: unset;
    column-break-inside: unset;
    page-break-inside: unset;
    column-count: unset!important;
}

.haloAZWrapper.visible-all .az-group-title{
    padding-bottom: 10px;
    margin-bottom: 0;
}

.haloAZWrapper.visible-all .az-group-list li{
    display: inline-block;
    vertical-align: top;
}

.haloAZWrapper.visible-all .az-group-list a{
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    background: var(--bg-white);
    border: 1px solid #bebebe;
    padding: 16px 40px 13px 40px;
    margin: 0 15px 15px 0;
}

.haloAZWrapper.visible-all .az-group-list .store-map a{
    padding: 12px 40px 12px 40px;
}

.haloAZWrapper.visible-all .az-group-list li:last-child a{
    margin-right: 0;
}

.az-list{
    display: block!important;
    width: 100%;
}

.az-name{
    display: block;
    font-family: var(--font-heading-family);
    font-size: calc(var(--header-font-size) + 6px);
    font-weight: var(--header-font-weight);
    text-transform: var(--header-text-transform);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    position: relative;
    color: var(--color-text);
    text-align: left;
    padding: 0 0 12px 0;
    margin: 0 0 15px 0;
}

.az-store{
    font-size: 0;
    letter-spacing: 0;
}

.store-wrapper{
    background-color: var(--bg-white);
    border: 1px solid #e6e6e6;
    padding: 22px 30px 30px 30px;
}

.store-name{
    font-family: var(--font-heading-family);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-text);
    text-transform: capitalize;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

.store-info .title{
    display: block;
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-text);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.store-info .content{
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-text2);
}

.store-info .content .text{
    display: block;
}

.store-info .content a{
    font-size: inherit!important;
    font-weight: inherit!important;
    margin: 0!important;
    padding: 0!important;
    border: 0!important;
    color: inherit!important;
    background-color: transparent!important;
}

.store-map{
    margin: 23px 0 0 0;
}

.store-map a{
    min-width: 190px;
    text-transform: uppercase;
    margin-right: 0!important;
    margin-bottom: 0!important;
}

.store-infoItem + .store-infoItem{
    margin-top: 23px;
}

.store + .store{
    margin-top: 15px;
}

.az-list + .az-list{
    margin-top: 33px;
}

.map{
    padding: 0 30px 30px 30px;
}

.halo-map-popup .halo-popup-wrapper{
    padding: 30px 0 0 0;
}

.halo-popup.halo-map-popup{
    top: -101%;
    webkit-transition: all .7s ease;
    transition: all .7s ease;
    overflow: hidden;
    transform: translate(-50%, 0);
}

body.map-popup-show{
    overflow: hidden;
    height: 100%;
}

body.map-popup-show .background-overlay{
    display: block;
}

body.map-popup-show .halo-map-popup{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

body.map-popup-show .halo-map-popup.halo-popup-topDown{
    top: 0;
}

@media (min-width: 768px){
    .az-group {
        column-count: 3;
    }

    .haloAZWrapper.active-all{
        column-count: 2;
    }

    .az-store{
        margin-left: -8px;
        margin-right: 8px;
    }

    .store{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 15px!important;
    }

    .store:nth-child(-n + 2){
        margin-top: 0!important;
    }

    .store + .store{
        margin-top: 0;
    }
}

@media (min-width: 992px){
    .store{
        width: 33.33333333%;
    }

    .store:nth-child(-n + 3){
        margin-top: 0!important;
    }
}

@media (min-width: 1025px){
    .haloAZTable li{
        width: 10%;
    }

    .haloAZTable li:hover{
        border-color: var(--btn-1-border-hover);
        background: var(--btn-1-bg-hover);
    }

    .haloAZTable li:hover a{
        color: var(--btn-1-color-hover);
    }

    .az-group {
        column-count: 4;
    }

    .az-group-list a:hover{
        color: var(--color-link-hover);
        text-decoration: underline;
        text-underline-offset: 0.3rem;
    }

    .haloAZWrapper.active-all {
        column-count: 4;
    }

    .haloAZWrapper.visible-all .az-group-list a:hover{
        text-decoration: none;
        background: var(--btn-1-bg);
        color: var(--btn-1-color);
        border-color: var(--btn-1-border);
    }

    .az-store{
        margin-left: -15px;
        margin-right: -15px;
    }

    .store{
        padding-left: 15px;
        padding-right: 15px;
        width: 25%;
        max-width: 400px;
        margin-top: 30px!important;
    }

    .store:nth-child(-n + 4){
        margin-top: 0!important;
    }

    body.map-popup-show{
        padding-right: 10px;
    }
}

@media (min-width: 1280px){
    .az-group {
        column-count: 5;
    }

    .haloAZWrapper.active-all {
        column-count: 5;
    }
}

@media (min-width: 1600px){
    .az-group {
        column-count: 6;
    }

    .haloAZWrapper.active-all {
        column-count: 6;
    }

    .az-store{
        margin-left: -20px;
        margin-right: -20px;
    }

    .store{
        margin-top: 40px!important;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 410px;
    }

    .store:nth-child(-n + 4){
        margin-top: 0!important;
    }
}