.halo-global-checkboxt-popup .halo-popup-wrapper{
    padding: 30px;
}

.halo-global-checkboxt-popup .halo-popup-content{
    max-width: 770px;
    margin: 0 auto 30px auto;
}

body.global-checkbox-show{
    overflow-y: hidden;
    height: 100%;
}

body.global-checkbox-show .background-overlay{
    display: block;
}

body.global-checkbox-show .halo-global-checkboxt-popup{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate3d(-50%,-50%,0);
}

body.global-checkbox-show .halo-global-checkboxt-popup.halo-popup-topDown{
    transform: translate3d(-50%,0,0);
}

@media (min-width: 1025px){
    body.global-checkbox-show{
        padding-right: 10px;
    }
}