{% layout none %}

{%- for tag in current_tags -%}
    {%- if tag contains 'list_handle=' -%}
        {%- assign list_handle = tag | remove: 'list_handle=' -%}
    {%- elsif tag contains 'limit=' -%}
        {%- assign limit = tag | remove: 'limit=' -%}
    {%- elsif tag contains 'sectionId=' -%}
        {%- assign sectionId = tag | remove: 'sectionId=' -%}
    {%- endif -%}
{%- endfor -%}

{%- if list_handle != blank -%}
    {%- assign list_handle = list_handle | split: '%2C' -%}
    {%- for handle in list_handle limit: limit -%}
        {% assign product = all_products[handle] %}
        {%- if product != blank -%}
            <div class="product">
                {%- liquid
                    assign media_size = settings.search_product_image_ratio
                    assign portrait_aspect_ratio = settings.search_product_portrait_aspect_ratio
                -%}
                {% render 'product-card',
                    product_card_product: product,
                    media_size: media_size,
                    portrait_aspect_ratio: portrait_aspect_ratio,
                    show_add_to_cart: true,
                    serial: forloop.index,
                    sectionId: sectionId,
                    list: false,
                    wishlist_add: false,
                    loading: true
                %}
            </div>
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}